{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="mx-auto mt-5" style="width: 300px;">
        <h2>Covid-19 Analysis</h2>
    </div>
    <div class="text-muted mx-auto" style="width: 313px;" id="sub-text">
        Last Updated : DD/MM/YY-HH:MM:SS
    </div>
</div>
<div id="section-2">
    <div id="table-section" class="col-md-6">
       {% for country in data.Country %}
       <li>{{ country }}</li>
       {% endfor %}
    </div>
    <div id="analysis-section" class="col-md-6">

    </div>
</div>
{% endblock %}